.titulo {
    color:white;
    background-color: blueviolet;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 
}

.inputText {
    outline:0px;
    border-color:black;
}

.inputText:focus {
    outline: none;
    border-color: blueviolet;

}

.inputTable {
    color:white;
    background-color: blueviolet;
    width: 40px;
    height: 20px;
   
}

.botao:hover {
    color:blueviolet
}